<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variant Educational Consultancy</title>

    <link rel="stylesheet" href="/frontend/public/CSS/landing.css">
    <!-- Font Awesome CDN for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <!-- header section starts -->


    <header>
        <div class="navbar">
            <div class="logo">
                <img src="/frontend/image/education consultancy (2).png" alt="">
            </div>
            <nav>
                <ul>

                    <li class="dropdown">
                        <a href="index.html">Study Abroad <i class="arrow down"></i></a>
                        <div class="abroad-dialogbox">
                            <div class="start-left">
                                <ul>
                                    <li><a href="">Study in Australia</a></li>
                                    <li><a href="">Study in Canada</a></li>
                                    <li><a href="">Study in UK</a></li>
                                    <li><a href="">Study in USA</a></li>
                                    <li><a href="">Study in New Zealand</a></li>
                                    <li><a href="">Study in Europe</a></li>
                                    <li><a href="">Study in UAE</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="index.html">Test Preparation <i class="arrow down"></i></a>
                        <div class="abroad-dialogbox">
                            <div class="start-left">
                                <ul>
                                    <li><a href="">English Training Center </a></li>
                                    <li><a href="">ILET</a></li>
                                    <li><a href="">TOEFL</a></li>
                                    <li><a href="">PTE</a></li>
                                    <li><a href="">GRE</a></li>
                                    <li><a href="">SAT</a></li>
                                    <li><a href="">Study in UAE</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li><a href="about.html">About Us </a></li>
                    <li><a href="contact.html">Success Stories </a></li>

                    <div class="login">
                        <button type="button"> Login</button>
                    </div>

                </ul>

            </nav>
        </div>
    </header>


    <!-- header section ends -->

    <!-- home section start  -->
    <section class="home" id="home">
        <div class="home-boxes">
            <div class="heading-box">
                <h1>Grab the Great Opportunity To <span> Study Abroad </span> </h1>
                <p>"At Varient Educational Consultancy, we empower your academic journey with trusted, personalized
                    guidance. We bridge your ambitions with global opportunities, ensuring a seamless and successful
                    path. Partner with us, and step confidently towards your dream future."</p>

                <div class="button">
                    <a href=""><i class="fab fa-whatsapp"></i> || Whatsapp Now</a>
                    <a href=""><i class="fas fa-phone"></i> || Request Callback</a>
                </div>

                <div class="claiming">
                    <span>
                        <h2>10 K+ </h2>
                    </span>
                    <span> successfull <br> Admission </span>
                    <span>
                        <h2> 5.0 </h2>
                    </span>
                    <span>
                        <i class="fas fa-star" style="color: gold;"></i>
                        <i class="fas fa-star" style="color: gold;"></i>
                        <i class="fas fa-star" style="color: gold;"></i>
                        <i class="fas fa-star" style="color: gold;"></i>
                        <i class="fas fa-star" style="color: gold;"></i>
                        <br> From 100+ Client
                    </span>
                </div>
            </div>

            <div class="image-box">
                <div class="experience-box">
                    <h1>23 + Years <br> <span> Experience </span> </h1>
                </div>
                <img src="/frontend/image/study.jpg" alt="">
            </div>
        </div>
    </section>

    <!-- home section ends  -->



    <!-- Body section start -->


    <!-- our solution section starts -->
    <section>
        <div class="our-solution">
            <h3>Our Solutions</h3>
            <h1>Education Solution For the Future</h1>
            <p>
                "<span> At Variant Education Consultancy </span>, we connect students, parents, and educational
                institutions to provide top-notch education solutions. With years of experience, we've helped thousands
                of students gain admission to prestigious colleges around the world. We focus on understanding each
                student's needs and work closely with them and their families to find the best colleges and courses. By
                bridging the gap between students and institutions, we ensure a smooth and successful admission process.
                Our goal is to make education accessible and effective by offering personalized guidance and support
                every step of the way."</p>
        </div>
    </section>
    <!-- our solution section ends -->


    <!-- blue line  -->
    <div class=" blue-line"></div>

    <!-- our specialization section start -->
    <section>
        <div class="our-specialization">
            <h3>Our Specialization</h3>
            <h1>Our Consulting According To Course</h1>
        </div>

        <div class="course">
            <div class="facuilty">
                <div class="facuilty-one facuilties-box ">
                    <div class="image">
                        <img src="/frontend/image/study.jpg" alt="">
                    </div>

                    <h3> Engineering courses </h3>
                    <h2>B.TEC / BCA / MCA</h2>
                    <P> <span> Our Engineering Admission </span>
                        Consultant in Variant professionals understands the need of students at the utmost need in their
                        academic life because they themselves have gone through the same phase.</span> </P>

                    <a href="">View Details <i class="arrow down"></i> </a>
                </div>

                <div class="facuilty-one facuilties-box ">
                    <div class="image">
                        <img src="/frontend/image/study.jpg" alt="">
                    </div>

                    <h3>Management Courses</h3>
                    <h2>MBBA / BBA / LLB</h2>
                    <P> <span> Our Engineering Admission </span>
                        Consultant in Variant professionals understands the need of students at the utmost need in their
                        academic life because they themselves have gone through the same phase.</P>

                    <a href="">View Details <i class="arrow down"></i> </a>
                </div>

                <div class="facuilty-one facuilties-box ">
                    <div class="image">
                        <img src="/frontend/image/study.jpg" alt="">
                    </div>

                    <h3> Para-Medical / Medical Courses</h3>
                    <h2>MBBS</h2>
                    <P> <span> Our Engineering Admission </span>
                        Consultant in Variant professionals understands the need of students at the utmost need in their
                        academic life because they themselves have gone through the same phase. </P>

                    <a href="">View Details <i class="arrow down"></i> </a>
                </div>


            </div>
        </div>

    </section>

    <!-- our specialization section ends -->

    <!-- Expert Guide section starts -->
    <section>
        <div class="center">
            <div class="center-box">
                <div class="Getting-started">
                    <span class="hand">👋</span>
                    <span>
                        <h1>So, What are you waiting For ?</h1> Lanch your study abroad journey today
                    </span>
                </div>

                <div class="get-started-btn">
                    <a href="">Let's Get Started </a>

                </div>


            </div>
        </div>

    </section>

    <!-- Expert Guide section  ends  -->



    <!-- Body section ends -->




    <script src="/frontend/public/JS/landing.js"></script>
</body>

</html>