<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultancy</title>

    <link rel="stylesheet" href="/frontend/public/CSS/landing.css">
</head>

<body>

    <!-- header section starts -->
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="/frontend/image/logo.avif" alt="Company Logo">
            </div>
            <nav>
                <ul>

                    <li class="dropdown">
                        <a href="index.html">Study Abroad <i class="arrow down"></i></a>
                        <div class="abroad-dialogbox">
                            <div class="start-left">
                                <ul>
                                    <li><a href="">Study in Australia</a></li>
                                    <li><a href="">Study in Canada</a></li>
                                    <li><a href="">Study in UK</a></li>
                                    <li><a href="">Study in USA</a></li>
                                    <li><a href="">Study in New Zealand</a></li>
                                    <li><a href="">Study in Europe</a></li>
                                    <li><a href="">Study in UAE</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="index.html">Test Preparation <i class="arrow down"></i></a>
                        <div class="abroad-dialogbox">
                            <div class="start-left">
                                <ul>
                                    <li><a href="">English Training Center </a></li>
                                    <li><a href="">ILET</a></li>
                                    <li><a href="">TOEFL</a></li>
                                    <li><a href="">PTE</a></li>
                                    <li><a href="">GRE</a></li>
                                    <li><a href="">SAT</a></li>
                                    <li><a href="">Study in UAE</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li><a href="about.html">About Us </a></li>
                    <li><a href="contact.html">Success Stories </a></li>

                </ul>
            </nav>
        </div>
    </header>

    <!-- header section ends -->

    <section class="home-section">
        <div class="home-box">
            <div class="box1">
                <h1>Nepal's leading study abroad consultants</h1>
                <p>We’ve guided 75,000+ students to study abroad with 100% FREE support!</p>

                <div class="study-buttons">

                </div>
            </div>

            <div class="box2">
                <img src="/frontend/image/house.jpg" alt="Landing Image">
            </div>
        </div>

    </section>

    <script src="/frontend/public/JS/landing.js"></script>
</body>

</html>